@*model NLayerApp.WEB.Models.PhoneViewModel*@
@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Index";
}
<div style="text-align:center;">
    <h3>Введите свои данные</h3>
</div>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreatePhone", "Home")'">Создать телефон</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("UpdatePhone", "Home", new { phoneIdDto=5 })'">Редактировать телефон</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GetPhone", "Home", new { phoneIdDto=5 })'">Просмотр телефона</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeletePhone", "Home", new { phoneIdDto=5 })'">Удалить телефон</button>
</div>

<div style="margin-top: 30px;">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateOrderSeller", "Home")'">Создать объявление продавца</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("UpdateOrderSeller", "Home", new { sellerIdDto=5 })'">Редактировать объявление продавца</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GetOrderSeller", "Home", new { sellerIdDto=5 })'">Просмотр объявление продавца</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeleteOrderSeller", "Home", new { sellerIdDto=5 })'">Удалить объявление продавца</button>
</div>

<div style="margin-top: 30px;">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateOrderCustomer", "Home")'">Создать объявление покупателя</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("UpdateOrderCustomer", "Home", new { customerIdDto=8 })'">Редактировать объявление покупателя</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GetOrderCustomer", "Home", new { customerIdDto=8 })'">Просмотр объявление покупателя</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeleteOrderCustomer", "Home", new { customerIdDto=8 })'">Удалить объявление покупателя</button>
</div>