<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreDiplom</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*#2d4059 серый
        #ea5455 малиновый
        #f07b3f оранжевый
        #ffd460 желтый*@
</head>
<body>
    <header>
        <div class="gridHeader">
            <img id="logoHeader" src="~/images/logo2.png" alt="Alternate Text" onclick="location.href='@Url.Action("Index", "Home")'" />
            <span id="nameHeader"><a href="@Url.Action("Index", "Home")">MARKET</a></span>

            <div id="searchHeader" class="dropdown">
                <button style="border: 0px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Категории
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Телефоны</a>
                    <a class="dropdown-item" href="#">Телевизоры</a>
                    <a class="dropdown-item" href="#">Ноутбуки</a>
                </div>
            </div>

            <img data-toggle="modal" data-target="#exampleModal" id="loginHeader" src="~/images/registration.png" alt="Alternate Text" />
            <img id="registerHeader" src="~/images/account.png" alt="Alternate Text" onclick="location.href='@Url.Action("Index", "Home")'" />
            <img id="basketHeader" src="/images/basket2.png" alt="Alternate Text" onclick="location.href='@Url.Action("Index", "Home")'" />
        </div>
    </header>

    <main>
        @RenderBody()
    </main>


    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Запустить модальное окно
    </button>*@

@*<script>
    "use strict";
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
});
</script>*@
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="width: 80%; margin: auto; padding: 10px 0px;">

                <form asp-controller="Home" asp-action="UserCabinet" style="width: 80%; margin: auto; padding: 10px 0px;" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Введите свой еmail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите свой email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Введите свой пароль</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите свой пароль" name="password">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="Role" value="Customer">
                    </div>

                    <div>
                        <div class="col-md-offset-6 col-md-6">
                            <input type="submit" class="btn btn-default" value="Войти" />
                        </div>
                    </div>
                </form>
                    @*<form style="width: 80%; margin: auto; padding: 10px 0px;" method="post">
            <div class="form-group">
                <input type="hidden" class="form-control" name="Id">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Введите свой еmail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите свой email" name="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Введите свой пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите свой пароль" name="Password">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" name="Role" value="Customer">
            </div>
            <button type="submit" class="btns" style="border: none; font-size: 14pt; padding: 5px 15px;">Войти</button>
        </form>*@
</div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
